.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "DM Sans", serif;
    padding: 1rem;

}

.sidebar {
    display: flex;
    gap: 20px;
    align-items: center;

}

.searchbar {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem 1rem;
}

.searchinput {
    width: 100%;

}

.searchinput input {
    width: 90%;
    border-radius: 50px;
    height: 49px;
    background-color: #F4F7FE;
    border: none;
    padding: 0 20px;


}

.filterIcon {
    border-radius: 50%;
    width: 49px;
    height: 45px;
    background-color: #3843FF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.filterIcon img {
    width: 35px;
    height: 26px;
    width: 100%;
}

.HeaderTop {
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

}


/* Off canvas CSS start */
.menuTittle {
    color: #64748B;
}

.MenuS {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px;
    background-color: #E7EAEE;
}

.crm p {
    margin-bottom: -5px;
    color: #000;
    font-weight: 500;
}

.learning {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px;
    padding: 16px;
}

.learn p {
    margin-bottom: -5px;
    color: #000;
    font-weight: 500;
}

.notificationDiv {
    display: flex;
    align-items: center;
    gap: 50px;
}

.profile {
    padding-block: 24px;
}

.profileTittle {
    color: #64748B;
}

.profilePerson {
    display: flex;
    align-items: center;
    gap: 10px;
}

.personName {
    margin-bottom: 0px;
}

.email {
    text-decoration: none;
    color: #A0ABBB;
}

.logOutMain {
    background-color: #E7EAEE;
    margin-top: 16px;
}

.logOutDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 16px;
    gap: 10px;
}

.logout {
    margin-bottom: 0px;
    color: #000;
    font-weight: 500;
}


/* Filter Bottom  Cnavas */
.FlterTittle h2 {
    color: #000;
    font-size: 24px;
    font-weight: bold;

}

.checkDiv {
    display: flex;
    justify-content: space-between;
}

.checkDiv p {
    color: #000;
}

.showBtn {
    margin-top: 20px;
    background-color: #6B4EFF;
    color: #fff;
    border-radius: 30px;
    padding: 10px;
    
}

.showBtn p {
    margin-bottom: 0px;
    text-align: center;
}
.closeBtn {
    margin-top: 20px;
}
.closeBtn p{
    margin-bottom: 0px;
    text-align: center;

}