.logo img{
    width: 85%;
}
.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "DM Sans", serif;
    padding: 1rem;

}

.sidebar {
    display: flex;
    gap: 20px;
    align-items: center;

}

.searchbar {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem 1rem;
}

.searchinput {
    width: 100%;

}

.searchinput input {
    width: 100%;
    border-radius: 50px;
    height: 49px;
    background-color: #F4F7FE;
    border: none;
    padding: 0 20px;


}


.dropdown1 {
    outline: none;
    font-size: 15px;
    border: 0px solid #ccc;
    background: none;
    color: #8b8b8b;
    cursor: pointer;
    padding: 1px 26px 2px 0px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    background-color: white;
    background-image: url("../images/languagePoly.svg");
    background-repeat: no-repeat;
    background-position: right 0px center;
    background-size: 25px;}
  
  /* Fix for Safari */
  .dropdown1::-ms-expand {
    display: none;
  }

  


.filterIcon {
    border-radius: 50%;
    width: 49px;
    height: 45px;
    background-color: #3843FF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.filterIcon img {
    width: 35px;
    height: 26px;
    width: 100%;
}

.HeaderTop {
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    border-radius: 0px 0px 10px 10px;
    z-index: 1;

}


/* Off canvas CSS start */
.menuTittle {
    color: #64748B;
}

.MenuS {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px;
    /* background-color: #E7EAEE; */
}

.crm p {
    margin-bottom: -5px;
    color: #000;
    font-weight: 500;
}

.learning {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px;
    padding: 16px;
}

.learn p {
    margin-bottom: -5px;
    color: #000;
    font-weight: 500;
}

.notificationDiv {
    display: flex;
    align-items: center;
    gap: 50px;
}

.profile {
    padding-block: 24px;
}

.profileTittle {
    color: #64748B;
}

.profilePerson {
    display: flex;
    align-items: center;
    gap: 10px;
}

.personName {
    margin-bottom: 0px;
}

.email {
    text-decoration: none;
    color: #A0ABBB;
}

.logOutMain {
    background-color: #E7EAEE;
    margin-top: 16px;
}

.logOutDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 16px;
    gap: 10px;
}

.logout {
    margin-bottom: 0px;
    color: #000;
    font-weight: 500;
}


/* Filter Bottom  Cnavas */

.FilterTitle {
    color: #000;
    font-size: 24px;
    font-weight: bold;
}
/* .FlterTittle h2 {
    color: #000;
    font-size: 24px;
    font-weight: bold;
} */

.checkDiv {
    display: flex;
    justify-content: space-between;
}

.checkDiv p {
    color: #000;
}

.showBtn {
    margin-top: 20px;
    background-color: #6B4EFF;
    color: #fff;
    border-radius: 30px;
    padding: 10px;
    
}

.showBtn p {
    margin-bottom: 0px;
    text-align: center;
}
.closeBtn {
    margin-top: 20px;
}
.closeBtn p{
    margin-bottom: 0px;
    text-align: center;

}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px 0;
}

h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.arrowDown {
    font-size: 14px;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

.arrowUp {
    font-size: 14px;
    transform: rotate(180deg);
    transition: transform 0.2s ease-in-out;
}

.filterOptions {
    margin-top: 10px;
    padding-inline: 15px;
}

.checkbox,
.radio {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color: #000000;
    margin-bottom: 15px;
    cursor: pointer;
    justify-content: space-between;
}

.checkbox input,
.radio input {
    accent-color: #7C3AED;
    width: 16px;
    height: 16px;
}

.checkbox span,
.radio span {
    cursor: pointer;
}

/* Sales Filter */
.FolderDiv {
    display: flex;
align-items: center;
justify-content: start;
gap: 10px;
}
.FolderDiv p {
   
margin-bottom: 0;
}
.search_box {
    align-items: center;
    background: #fff;
    border: 1px solid #d3d3e3;
    border-radius: 25px;
    display: flex;
    margin-block: 10px;
    /* margin-inline: 40px; */
    padding: 8px 15px;
}
.search_box input {
    border: none;
    color: #6c757d;
    font-size: 16px;
    outline: none;
    width: 100%;
}
.icon {
    color: #2c2e83;
    font-size: 18px;
    margin-right: 8px;
}
.icon img {
    width: 15px;
}