.LibraryMain {
    background-color: #F4F7FE;
    font-family: "DM Sans", serif;
    padding-block: 1rem;
    margin-top: 10rem;
}

.Library {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    margin-bottom: 10px;
    

}

.Library p {
    margin-bottom: 0px;
}

.Quick h2 {
    font-weight: bold;
 
    font-size: 20px;
    color: #2B3674;
}

.shortMain {
    border: 1px solid #3843FF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.shortTittle {
    font-weight: bold;
    font-size: 15px;
    color: #3843FF;
}

.bytesflex {
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

.Bytes {
    width: 48%;
    margin-bottom: 10px;
    border: 1px solid #ECECEC;
    background-color: #FFFFFF;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
}

.bytesMain p {
    margin-bottom: 0px;
    font-size: 14px;
        /* font-size: calc(10px + (4 * ((100vw - 320px) / 105)));   */
    color: #A3AED0;
}

.bytesMain strong {
    color: #2B3674;
    font-size: 14px;
}

.boardContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-inline: 1rem;
    margin-bottom: 20px;
}

.card1 {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: left;
    width: 45%;
}

.card2 {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: left;
    width: 55%;
}

.cardTitle {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 5px;
}

.amount {
    font-size: 16px;
    font-weight: bold;
    color: #1f2937;
    margin-bottom: 0px;
}

.growth {
    font-size: 12px !important;
    color: #6b7280;
}

.positive {
    color: #10b981;
    font-weight: bold;
}

.countryContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

/* styles/FlagDropdown.module.css */
.dropdownMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.dropdown {
    position: relative;
    /* width: 150px; */
    cursor: pointer;
}

.selected {
    display: flex;
    align-items: center;
    width: max-content;
}

.arrow {
    margin-left: 10px;
}

.menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 150px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuItem {
    padding: 10px;
    cursor: pointer;
}

.menuItem:hover {
    background: #f0f0f0;
}

.line {
    width: 100%;
    height: 2px;
    border: none;
    background: linear-gradient(to right, transparent, #3843FF, transparent);
    margin: 10px 0;
}

/* .Knowledge CSS start */
.KnowledgeDiv {
    padding-inline: 20px;
}

.KnowledgeTittle h2 {
    font-size: 20px;
    font-weight: 500;
    /* margin-block: 20px; */
    margin-top: 20px;
    margin-bottom: 10px;
}

.slideMain {
    display: flex;
    gap: 12px;
    overflow: auto;
    margin-bottom: 20px;
}

.slideDiv {
    width: 90%;
}

.slideCard {

    padding: 16px;
    border: 1px solid #ECECEC;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.slideCard img {
    width: -webkit-fill-available;
}

.content h2 {
    font-size: 18px;
    font-weight: bold;
}

.content p {
    font-size: 14px;
    margin-bottom: 0px;
}

.cardDeatils {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;
}

.shareDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.shareDiv p {
    margin: 0px;
}

.source {
    display: flex;
    gap: 5px;
}
.source span{
    color: #4318FF;
}
.accessDiv {
    background-color: #11047A;
    padding: 8px 16px;
    border-radius: 20px;
}

.accessDiv p {
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.accessMain {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Business CSS Start CSS start */
.resourcesMain {
    padding-inline: 20px;
}

.resourcesTittle h2 {
    font-size: 20px;
    font-weight: 500;
    /* margin-block: 20px; */
    margin-top: 20px;
    margin-bottom: 10px;
}

.business {
    border: 1px solid #ECECEC;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.header {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.resourcesDatails p {
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: bold;
    color: #A3AED0;
}

.resourcesDatails b {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.centretitle {
    padding-inline: 16px;
}

.centretitle h2 {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}

.footer {
    padding-inline: 16px;
    background-color: #FAFCFE;
    padding-block: 20px;
}

.bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;

}

.time {
    display: flex;
    align-items: center;
    gap: 5px;
}

.time span {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.time span {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.video {
    display: flex;
    align-items: center;
    gap: 5px;
}

.video span {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.startdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.started {
    background-color: #4318FF;
    border-radius: 16px;
    padding: 10px 20px;
}

.started p {
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;

}

.security {
    border: 1px solid #ECECEC;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    /* margin-bottom: 20px; */
    padding: 16px;
    margin-bottom: 5rem;
}

.securityDetails h2 {
    width: 70%;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.securityDetails p {
    color: #A3AED0;
    font-size: 14px;
    font-weight: 400;
    margin: 1rem 0;

}

.cards {
    background-color: #4318FF;
    text-align: center;
    padding: 10px;
    border-radius: 16px;
    margin: 1rem 0px;
}

.cards p {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    color: #fff;
}

/* Team Css Start */
.teamDiv {
    border: 1px solid #ECECEC;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 16px;
}

.teamcontent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.teamtittle h2 {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0px;
}

.member {
    border: 1px solid #ECECEC;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.memberDetails {
    display: flex;
    align-items: center;
    gap: 20px;
}

.name p {
    margin-bottom: 0px;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.name text {
    font-size: 12px;
    color: #A3AED0;

}

.option {}

@media (max-width:410px) {
    .shareDiv {
        display: block;
       
    }
    .source{
        margin-bottom: 10px;
    }
}