.LibraryMain {
    background-color: #F4F7FE;
    font-family: "DM Sans", serif;
    padding-block: 1rem;
    margin-top: 10rem;
}

.Library {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    margin-bottom: 10px;


}

.Library p {
    margin-bottom: 0px;
}

.Quick h2 {
    font-weight: bold;

    font-size: 20px;
    color: #2B3674;
}

.shortMain {
    border: 1px solid #3843FF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.shortTittle {
    font-weight: bold;
    font-size: 15px;
    color: #3843FF;
}

.bytesflex {
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

.Bytes {
    width: 48%;
    margin-bottom: 10px;
    border: 1px solid #ECECEC;
    background-color: #FFFFFF;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    min-height: 70px;
}

.bytesMain p {
    margin-bottom: 0px;
    font-size: 14px;
    /* font-size: calc(10px + (4 * ((100vw - 320px) / 105)));   */
    color: #A3AED0;
}

.bytesMain strong {
    color: #2B3674;
    font-size: 14px;
}

.boardContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-inline: 1rem;
    margin-bottom: 20px;
}

.card1 {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: left;
    width: 45%;
}

.card2 {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: left;
    width: 55%;
}

.cardTitle {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 5px;
}

.amount {
    font-size: 16px;
    font-weight: bold;
    color: #1f2937;
    margin-bottom: 0px;
}

.growth {
    font-size: 12px !important;
    color: #6b7280;
}

.positive {
    color: #10b981;
    font-weight: bold;
}

.countryContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

/* styles/FlagDropdown.module.css */
.dropdownMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.dropdown {
    position: relative;
    /* width: 150px; */
    cursor: pointer;
}

.selected {
    display: flex;
    align-items: center;
    width: max-content;
}

.arrow {
    margin-left: 10px;
}

.menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 150px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuItem {
    padding: 10px;
    cursor: pointer;
}



.line {
    width: 100%;
    height: 2px;
    border: none;
    background: linear-gradient(to right, transparent, #3843FF, transparent);
    margin: 10px 0;
}

/* .Knowledge CSS start */
.KnowledgeDiv {
    padding-inline: 20px;
}

.KnowledgeTittle h2 {
    font-size: 20px;
    font-weight: 500;
    /* margin-block: 20px; */
    margin-top: 20px;
    margin-bottom: 10px;
}

.slideMain {
    display: flex;
    gap: 12px;
    overflow: auto;
    margin-bottom: 20px;
}

.slideDiv {
    width: 90%;
}

.slideCard {
    min-width: 280px;
    padding: 16px;
    border: 1px solid #ECECEC;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);

}

.slideCard img {
    width: -webkit-fill-available;
}

.content h2 {
    font-size: 18px;
    font-weight: bold;
    min-height: 45px;
    align-items: center;
    display: flex;
}

.content p {
    font-size: 14px;
    margin-bottom: 0px;
}

.cardDeatils {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;
}

.shareDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.shareDiv p {
    margin: 0px;
}

.source {
    display: flex;
    gap: 5px;
}

.source span {
    color: #4318FF;
}

.accessDiv {
    background-color: #11047A;
    padding: 8px 16px;
    border-radius: 20px;
}

.accessDiv p {
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.accessMain {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Business CSS Start CSS start */
.resourcesMain {
    padding-inline: 20px;
}

.resourcesTittle h2 {
    font-size: 20px;
    font-weight: 500;
    /* margin-block: 20px; */
    margin-top: 20px;
    margin-bottom: 10px;
}

.business {
    border: 1px solid #ECECEC;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.header {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.resourcesDatails p {
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: bold;
    color: #A3AED0;
}

.resourcesDatails b {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.centretitle {
    padding-inline: 16px;
}

.centretitle h2 {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}

.footer {
    padding-inline: 16px;
    background-color: #FAFCFE;
    padding-block: 20px;
}

.bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;

}

.time {
    display: flex;
    align-items: center;
    gap: 5px;
}

.time span {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.time span {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.video {
    display: flex;
    align-items: center;
    gap: 5px;
}

.video span {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.startdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.started {
    background-color: #4318FF;
    border-radius: 16px;
    padding: 10px 20px;
}

.started p {
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;

}

.security {
    border: 1px solid #ECECEC;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 16px;
    margin-bottom: 5rem;
}

.securityDetails h2 {

    font-size: 20px;
    color: black;
    font-weight: bold;
}

.securityDetails p {
    color: #A3AED0;
    font-size: 14px;
    font-weight: 400;
    margin: 1rem 0;

}

.cards {
    background-color: #4318FF;
    text-align: center;
    padding: 10px;
    border-radius: 16px;
    margin: 1rem 0px;
}

.cards p {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    color: #fff;
}

/* Team Css Start */
.teamDiv {
    border: 1px solid #ECECEC;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 16px;
}

.teamcontent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.teamtittle h2 {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0px;
}

.member {
    border: 1px solid #ECECEC;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.memberDetails {
    display: flex;
    align-items: center;
    gap: 20px;
}

.name p {
    margin-bottom: 0px;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.name text {
    font-size: 12px;
    color: #A3AED0;

}

.menuContainer {
    position: relative;
    display: inline-block;
}

.option {}


.menuDropdown {
    position: absolute;
    top: 30px;
    right: 0;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    min-width: 80px;
}

.menuDropdown p {
    margin: 0;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 14px;
}

.filtersContainer {
    width: 100%;
    /* padding: 10px; */

}

.menuTittle {
    color: #191D23;
    font-size: 22px;
    font-weight: bold;
}

.filterSection {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px 0;
    margin-bottom: 35px;
}

h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.arrowDown {
    font-size: 14px;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

.arrowUp {
    font-size: 14px;
    transform: rotate(180deg);
    transition: transform 0.2s ease-in-out;
}

.filterOptions {
    margin-top: -25px;
    padding-inline: 15px;
}

.checkbox,
.radio {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color: #000000;
    margin-bottom: 15px;
    cursor: pointer;
    /* justify-content: space-between; */
}
.checkbox{
    justify-content: space-between;

}
.checkbox input,
.radio input {
    accent-color: #7C3AED;
    width: 16px;
    height: 16px;
}

.checkbox span,
.radio span {
    cursor: pointer;
}

.FolderDiv {
    display: flex;
    align-items: center;
    gap: 20px;
}

.FolderDiv p {
    margin-bottom: 0px;
    color: #090A0A;
    font-weight: 500;
}

.search_box {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #d3d3e3;
    border-radius: 25px;
    padding: 8px 15px;
    margin-inline: 40px;
    margin-block:10px;
}

.search_box input {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    color: #6c757d;
}

.search_box .icon {
    color: #2c2e83;
    font-size: 18px;
    margin-right: 8px;
}

.icon img {
    width: 15px;
}

.showBtn {
    margin-top: 20px;
    background-color: #6B4EFF;
    color: #fff;
    border-radius: 30px;
    padding: 10px;
    
}

.showBtn p {
    margin-bottom: 0px;
    text-align: center;
}
.closeBtn {
    margin-top: 20px;
}
.closeBtn p{
    margin-bottom: 0px;
    text-align: center;

}


/* Modale CSS start */
.contentDetails {
    padding: 20px;
}

.modTitle h5 {
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
    color: #000000;
}

.visualImg img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.visualImg iframe {
    margin-top: 20px;
    width: 100%;
    height: 250px;
    border: none;
    border-radius: 20px;
}
.ShareIconMain{
    position: absolute;
    top: 15%;
    right: 3%;
    border: 2px solid white;
    border-radius: 50%;
}
.contents {
    padding: 20px;
}

.contents h2 {
    color: #191D23;
    font-size: 22px;
    font-weight: bold;
}

.contents h5 {
    color: #191D23;
    font-weight: bold;
    font-size: 16px;
}

.contents p {
    line-height: 24px;
    color: #000000;
    font-size: 14px;
}

.modalLine {
    margin-block: 1rem;
}

/* Must DO sell Css start */
.sellDiv{
    margin-top: 20px;  
}
.ModalTitle{
    color: #000000;

}
.SubmitBtn{
    background-color: #6b4eff;
    border-radius: 30px;
    color: #fff;
    margin-top: 30px;
    padding: 10px;
}
.SubmitBtn p{
    text-align: center;
    margin-bottom: 0px;

}
/* Table css Start */

.tableContainer {
    width: 100%;
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
    white-space: nowrap;
    color: #2B3674;
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0 0 0;
  }
  
  th, td {
    padding: 6px;
    text-align: left;
  }
  
  th {
    color: #a0a0a0;
    font-weight: 500;
    font-size: 14px;
    color:#A3AED0
  }
  
  .checked {
    accent-color: #623ce6;
  }
  .trafficDiv .trafficTittle h2{
    font-size: 13px;
    margin-bottom: 0px;
  }
  /*  */
/* Slide1 Css Start Modal2*/
.modalContentInner p{
    line-height: 25px;
    margin-bottom: 10px;
    color: #000000;
    max-height: 200px;
    overflow: auto;
    padding-right: 5px;
}
.modImg{
    margin-top: 30px;
    width: 100%;
}
.modalContentInner h2{
    color: #000;
    margin-top: 10px;
}



@media (max-width :375px){
    .chartsvg2 img {
        margin-top: 25px;
    }

}
@media (max-width:410px) {
    .shareDiv {
        display: block;

    }

    .source {
        margin-bottom: 10px;
    }

    .bytesMain p {
        font-size: 10px;
    }

    .Bytes {
        padding: 6px 7px;
        border-radius: 15px;
        min-height: 80px;
    }
}

.filterOptions {
    margin-top: -25px;
    padding-inline: 15px;
}