.navPart{
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
}
.ContactHeader {
    display: flex;
        align-items: center;
        justify-content: left;
        padding: 20px;
        gap: 20px;
}

.ContactHeader h2 {
    margin-bottom: 0px;

}

.searchbar {
   
    height: 50px;
    border: 1px solid gray;
    display: flex;
    margin-inline: 20px;
    border-radius: 20px;
    padding-inline: 20px;

}
.searchInput{
    border: none;
}


/* Contactuser CSS START */
.container {
    padding-inline: 20px;
    margin-top: 8rem;
}

.contactItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}



.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.info {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 0;
}

.phone {
    color: gray;
    margin: 0;
    font-size: 13px;
}