.headerPart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px 30px 20px;
}

.OnboardingTitle p {
    margin-bottom: 0px;
    color: #787C81;
    font-size: 14px;
}

.OnboardingTitle h1 {
    font-size: 22px;
    color: #000;
    font-weight: 500;
}
.bodyMain{
    background-color: #F6F8FA;
    padding: 10px;
}
.bodypart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    border: 1px solid #E9E9E9;
    border-radius: 20px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    min-height: 95px;
}

.bodypart h2 {
    margin-bottom: 0px;
    font-size: 18px;
    color: #000;
}

.bodypart p {
    color: #000;
    font-size: 14px;
    margin-bottom: 0px;

}
.signP{
    margin-inline: 10px;
    margin-bottom: 0px;
}
.skipMain{
    min-height: 120px;
}
.skipDiv{
    background-color: #4318FF;
    width: max-content;
    padding: 20px 30px;
    border-radius: 30px;
    margin-top: 2rem;
    right: 5%;
    position: absolute;

}
.skipDiv p{
    color: #fff;
    margin-bottom: 0px;

}

@media (max-width:375px){
    .bodyMain{
        padding: 3px;
    }
    .bodypart h2 {
        font-size: 16px;
    }
    .bodypart p {
        font-size: 12px;
    }
}