@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Host+Grotesk&display=swap');


.host-grotesk {
  font-family: "Host Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dm-sans {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;

  font-style: normal;
}

.App-link {
  color: #61dafb;
}

body {
  /* touch-action: pan-x pan-y; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: "DM Sans", serif;
  margin: 0;
  padding: 0;
  
}

.offcanvas.offcanvas-end {
  width: 70% !important;

}
.offCANVAS_ShareMain{
  position: relative;
  width: 100%;
}



#offCANVAS_Share .offcanvas{
  width: 100% !important;
  height: 160px;
  bottom: 0;
}

#offCANVAS_Share .offcanvas.offcanvas-end{
  bottom: 0 !important;
  top: unset !important;
  border-radius: 20px 20px 0 0px;
  border: none;
}

.offCANVAS_ShareMain img{
  width: unset !important;
}


.offcanvas-body .share{
  font-size: 21px;
  color: #0F0F0F;
  font-weight: 700;
}


#offCANVAS .offcanvas {
  /* width: 100% !important; */
  border: none;

}


#offCANVAS .offcanvas.offcanvas-bottom {
  height: 100vh !important;
}
#offCANVAS .offcanvas-header {
  justify-content: space-between;
}

#FiltterCANVA .offcanvas.offcanvas-end {
  /* height: 50vh !important; */
  width: 70% !important;
}

#filterCheck input[type="checkbox"] {
  width: 18px;
  height: 18px;

}





:root,
[data-bs-theme=light] {
  --bs-body-line-height: 17px !important;
}

.offcanvas-body {
  padding: 0px 15px 20px 15px !important;
}

@media screen and (min-width: 768px) {
  .App {
    display: none;
  }
}

input[type="checkbox"] {
  accent-color: #4318ff;
}

/* @supports (-webkit-touch-callout: none) {
  .slideCard img {
      width: 100%;
  }
}
.slideCard img {
  width: 100vw; 
  max-width: 100%;
  height: auto;
}

.slideCard img {
  width: 100%; 
  max-width: 100%; 
  height: auto; 
  object-fit: cover; 
} */