.daily-traffic-container {
    padding: 8px;
    background: white;
    border-radius: 12px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    max-width: 300px;
    border: 1px solid #ECECEC;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    width: 50%;
    min-height: 212px;
    max-height: 212px;
  }
  
  .daily-traffic-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #333;
  }
  tspan {
    font-size: 10px;
    color: #B0BBD5 !important;
}
  
  .daily-traffic-header h3{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #1B2559;

  }

  .growth {
    font-size: 12px;
    font-weight: 300;
    color: #00c853;
  }
  
  .visitor-count {
    margin-top: 5px;
  }
  
  .count {
    font-size: 25px;
    font-weight: bold;
    color: #25214a;
  }
  
  .text {
    font-size: 16px;
    color: #8b8b8b;
  }
  
  .recharts-bar-rectangle {
    border-radius: 6px;
  }

  .daily-traffic-container .recharts-responsive-container{
    position: relative;
    bottom: -30px;
  }
  